.filter-form {
  display: flex;
  align-items: center;
  width: 100%;
  /* border: 1px solid red; */
  padding: 50px 0; 
}

.date-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.search-container {
  position: relative;
  width: 100%;
}

.filter-input {
  width: 100%;
  max-width: calc(80% - 90px); 
  height: 50px;
  padding: 14px 20px;
  border-radius: 30px;
  border: 2px solid #ccc;
  font-size: 16px;
  background-color: #f8f8f8;
  transition: border-color 0.3s ease-in-out;
   border: 1px solid grey;
}

.filter-input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.2);
}

.search-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px;
  margin-left: -75px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.search-button:hover {
  background-color: #45a049;
}

.filter-date-input {
  width: 200px;
  height: 50px;
  padding: 14px 20px;
  border-radius: 30px;
  border: 2px solid #ccc;
  font-size: 16px;
  background-color: #f8f8f8;
  transition: border-color 0.3s ease-in-out;
   border: 1px solid grey;
}

.filter-date-input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.2);
}

@media screen and (max-width: 600px) {
  .filter-input,
  .filter-date-input {
    max-width: 100%;
  }
}
