/**
 * ----------------------------------------
 *  LandingPage.css
 * ----------------------------------------
 */

:root {
  --primary-color: #007bff;
  --secondary-color: #0056b3;
  --backgound-color: rgba(35, 0, 255, 0.04);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  text-decoration: none;
  color: inherit;
  outline: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--backgound-color);
}

.container {
  padding: 0 20px;
  /* ANIMATION */
  overflow: hidden;

}

.content {
  display: flex;
  width: 100%;
}

.content__item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 8em;
}

.content p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.content__title {
  font-size: 3.5vw;
  margin-bottom: 0.5em;
  white-space: nowrap;
  text-align: left;
  /* ANIMATION */
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-in-out, transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;

}

.content__text {
  font-size: 1.2vw;
  padding-bottom: 3em;
  text-align: left;
  max-width: 500px;
  /* ANIMATION */
  opacity: 0;
  transform: translateX(-110%);
  transition: opacity 0.5s ease-in-out, transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;

}


/* ANIMATION */
.container.active .content__title,
.container.active .content__text,
.container.active .content__image {
  opacity: 1;
  transform: translateX(0%);
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
   100% {
    opacity: 1;
    transform: none;
  }
}

.content__item {
  width: 40%;
  padding-right: calc((100% - 60%) / 2);
}

.content__button {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 20px;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: auto;
  white-space: nowrap;
  /* ANIMATION */
  opacity: 0;
  transform: translateX(-110%);
  transition: opacity 0.5s ease-in-out, transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;

}

/* ANIMATION */
.container.active .content__button {
  opacity: 1;
  transform: translateY(0%);
}

.content__button::before {
  content: '\2192';
  margin-right: 5px;
}

.content__button:hover {
  background-color: var(--secondary-color);
}

.content__image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* ANIMATION */
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
 /* ANIMATION */
.container.active .content__image {
  opacity: 1;
  transform: none;
}

.content__image img {
  width: 90%;
  height: auto;
  overflow: hidden;
}


@media screen and (max-width: 850px) {
  .content__image {
    min-width: 450px;
  }
  .content__image img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .content__item-container {
    flex-direction: column;
  }
  .content__image img {
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
  }
  .content__title {
    font-size: 3vw;
    text-align: center;
  }
  .content__text {
    font-size: 1em;
    margin-bottom: 2em;
    text-align: center;
  }
  .content__item {
    margin-bottom: 2em;
    width: 90%;
  }
  .content__image {
    order: -1;
    width: 90%;
    margin-bottom: 5em;
    min-width: 100px;
    max-width: 600px;
  }

  .content__image,
  .content__title, 
  .content__text, 
  .content__button,
  .content__image {
    /* ANIMATION */
   
    transition: none;
  }

}
