/**
    * ----------------------------------------
    *  LandingPage.css
    * ----------------------------------------
*/


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.navbar__title {
  font-size: 24px;
  font-weight: bold;
}

.navbar__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__menu li {
  margin: 0 10px;
}

.navbar__menu li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
