
:root {
 --padding: 1rem;
}
body {
  font-family: Source Sans Pro;
}

.savedBikeTrip {
  background: linear-gradient(to right, rgba(241, 39, 230, 0.5), rgba(245, 175, 25, 0.5));
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-direction: column; 
  margin: var(--padding);
  padding: var(--padding);
  transition: all 0.3s ease-in-out; 
}

.title {
  color: #fff;
  font-size: 1.5rem;
   font-weight: bold;
  margin-bottom: var(--padding); 
  text-align: center;
}

.tripInfo {
  display: flex; 
  flex-wrap: wrap; 
}

.label {
  color: #fff;
  font-size: 1rem;
  padding: var(--padding);
}

.value {
  color: #333;
  font-size: 1rem;
  padding: var(--padding);
}

.tripInfoItem {
  margin-right: var(--padding); /* Use a margin for the table cells */
}

.savedBikeTrip:hover {
 transform: translateY(-10px); /* Use a lift effect on hover */
}
