* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-size: 100%;
      line-height: 1.5;
      text-decoration: none;
      color: inherit;
      outline: none;
    }

    body {
        font-family: Source Sans Pro;
    }

.center-text {
  text-align: center;
  margin-top: 20px;
}

.loading-text {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
