/* TopStations.css */

.top-stations-container {
  margin-top: 30px;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-stations-heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.top-stations-list {
  list-style-type: none;
  padding: 0;
}

.top-stations-item {
  margin-bottom: 10px;
  font-size: 18px;
  color: #666;
}

.top-stations-item:before {
  content: "→";
  color: #FF5F6D;
  margin-right: 10px;
}

.top-stations-item:hover {
  color: #FF5F6D;
  cursor: pointer;
}
